.header-main {
    

    &__logo {
        margin-right: 120px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: $text-color;
        transition: opacity ease .3s;
        &:hover {
            opacity: .5;
        }
    }

    &__top {
        display: flex;
        height: 104px;
        align-items: center;
    }
    &__nav {
        ul {
            li {
                display: inline-block; 
                margin-right: 21px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: $second-text-color;
                    transition: color ease 0.3s;
                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }

    &__cta {
        padding-right: 50%;
        width: 100%;
        h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $second-text-color;
            margin: 35px 0;
            max-width: 390px;
        }
    }

    &__info {
        display: flex;
        gap: 30px;
        position: relative;
        bottom: -20px;
    }

    &__info-item {
        background-color: $seventh-background-color;
        box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);
        padding: 35px 40px;
        &:last-child {
            background-color: $secondary-color;
            h3 {
                color: $third-text-color;
            }
            p {
                color: $third-text-color;
            }
        }
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: $text-color;
            margin: 10px 0;
        }
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $second-text-color;
        }
    }
}