.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  .input {
    padding: 0 16px;
    width: 100%;
    line-height: 56px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    font-size: 16px;
  }

  .password {
    margin: 32px 0;
    &_input {
      margin: 8px 0;
    }
  }

  .row_elements {
    justify-content: start;
    gap: 200px;
    /* Style The Dropdown Button */
    .dropbtn {
      /* border: none; */
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .switch {
      margin: 32px 0;
      position: relative;
      display: inline-block;
      width: 49px;
      height: 24px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background: #7A5CFA;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #7A5CFA;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }

    .dropdown {
      .dropbtn {
        background: #FFFFFF;
        width: 100%;
        border: 2px solid #7A5CFA;
        border-radius: 8px 8px 0px 0px;
      }
      .dropdown-content {
        
      }
    }
  }

  .btns {
    justify-content: space-between;
    .cancel_btn {
      padding: 16px 62px;
      background: #FFFFFF;
      color: #7A5CFA;
      border: 1px solid #7A5CFA;
      border-radius: 8px;
      cursor: pointer;
    }
  
    .next_btn {
      padding: 16px 62px;
      background: #7A5CFA;
      color: #FFFFFF;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}