.section_1 {
  background: $background-color;
  letter-spacing: 0.2px;
  padding: 211px 0 80px 0;

  .main_content {
    .title {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .subtitle {
      margin: 10px 0 50px 0;
      width: 50%;
      height: auto;
      text-align: center;
    }
  }

  .row {
    gap: 30px; 
    .card_items {
      padding: 30px 32px;
      background: $seventh-background-color;
      width: 25%;
      height: auto;

      .title {
        margin: 10px 0;
      }

      .subtitle5 {
        color: $second-text-color;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
