.section_1 {
    background: #FAFAFA;
    letter-spacing: 0.2px;
    padding: 211px 0 217px 0;
    .main_content {       
        .title {            
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .subtitle {
            margin: 10px 0 50px 0;
            width: 50%;          
            height: auto;
            text-align: center;
        }
    }
    .row {        
        gap: 30px;       
            .card_items {
                background: #FFFFFF;   
                width: 25%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                &__logo {
                    margin: 30px 91px 10px;
                }
                .title {
                }
                .subtitle5 {
                    margin: 10px auto 30px;
                    color: #737373;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }   
    }