.section_2 {
    letter-spacing: 0.2px;
    background: #FAFAFA;
    padding: 0 0 68px 0;
    .main_content {
        .title {           
        }
        .subtitle {
            margin: 10px 0 45px 0;
            text-align: center;
        }
    }
    .row {
        gap: 30px;
    }      
    .card_item {
        background: #FFFFFF;   
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        &__text_main {
            color: #252B42;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            margin: 30px 30px 15px;
        }
        &__text_descr {
            color: #737373;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin: 15px 30px 30px;                
        }
        &__img {
            width: 100%;                
        }
        
    }
}