.section_5 {
    padding: 80px 0 148px;
    background: #F3F3F3;
    
    .main_content {
        .title {

        }
        .subtitle {
            margin: 10px 0 80px;
        }
    }
    .card {
        &_small {
            background: #FFFFFF;
            padding: 50px 53px 50px;
            &__icon {
            }
            &__email {
                margin-top: 50px;
                &-1 {
                    color: #252B42;
                }
                &-2 {
                    color: #252B42;
                }
            }
            &__support {
                margin: 15px 0;
                color: #252B42;
            }
            &__btn {
            }
        }
        &_big {
            padding: 80px 53.5px;
            background: #252B42;
            &__icon {
            }
            &__email {
                margin-top: 15px;
                &-1 {
                    color: #FFFFFF;
                }
                &-2 {
                    color: #FFFFFF;
                }
            }
            &__support {
                margin: 15px 0;
                color: #FFFFFF;
            }
            &__btn {
            }
        }
    }
}