.section_3 {
    padding: 100px 0;
    .main_content {
        .title {
            width: 60%;
            height: auto;
            text-align: center;
        }
        .subtitle {
            margin: 10px 0 100px 0;
            width: 48%;
            height: auto;
            text-align: center;
        }
    }
    .row {
        gap: 120px;
        .video_descr {
            width: 31%;
            height: auto;
            .subtitle {
                margin: 10px 0 20px 0;
            }
            .row {
                gap: 20px;
            }
            &__card {
                &_subtitle5 {
                    margin: 30px 0 5px 0;
                }
            }
        }
    }
}