.section_4 {
  padding: 50px 0 20px 0;
  background: $background-color;

  .item {
    gap: 30px;
  }

  .subscribe {
    margin-top: 70px;
    padding: 50px 30px 40px;
    background-color: $third-background-color;
    font-size: 0; //form hack

    &_title {
      width: 50%;
      color: $foreground-color;
    }

    &_email {
      width: 50%;
      height: auto;

      &__place {
        padding: 15px 150px 15px 20px;
        background: $fourth-background-color;
        border: 1px solid $btn-border;
        border-radius: 5px 0 0 5px;
        font-size: 14px; //form hack
      }

      &__btn {
        padding: 9.5px 22.5px;
        border: 1px solid $btn-border;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }

  .line {
    background: $sixth-background-color;
  }
}
