.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  color: #fff;

  transition: all ease 0.4s;

  & + & {
    margin-left: 10px;
  }

  &--primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 9px 35px;

    &:hover,
    &--outline {
      background-color: transparent;
      color: $primary-color;
    }

    &--outline {
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  &--secondary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    padding: 9px 35px;

    &:hover,
    &--outline {
      background-color: transparent;
      color: $secondary-color;
    }

    &--outline {
      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
  }

  &--tertiary {
    border: 1px solid $btn-border;

    &:hover,
    &--outline {
      background-color: $primary-color;
      color: $third-text-color;
    }

    &--outline {
      &:hover {
        background-color: $third-text-color;
        color: $primary-color;
      }
    }

    &--rounded {
      border-radius: 0px 5px 5px 0px;
    }
  }

  &--rounded {
    border-radius: 37px;
  }
}
