.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;

  transition: all ease 0.4s;

  & + & {
    margin-left: 10px;
  }

  &--primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 9px 35px;
    color: #fff;

    &:hover,
    &--outline {
      background-color: transparent;
      color: $primary-color;
    }

    &--outline {
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  &--secondary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    padding: 9px 35px;

    &:hover,
    &--outline {
      background-color: transparent;
      color: $secondary-color;
    }

    &--outline {
      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
  }

  &--tertiary {
    border: 1px solid #FFA62B;
    border-radius: 5px;
    color: #FFA62B;
  }

  &--fourth {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
  }
}
