.select2-container {
  height: 56px;

  .select2-selection--single {
      height: 56px;
      border: 2px solid #7A5CFA;

      .select2-selection {

          &__rendered {
              line-height: 56px;
          }
      }
  }

  .select2-results__option--selected {
    background: #7A5CFA;
    border: 1px solid #CCCCCC;
    color: white;
  }

  .select2-results__option--highlighted {
    background-color: #7A5CFA;
    border: 1px solid #CCCCCC;
  }

  .select2-results>.select2-results__options {
    background: #FFFFFF;
    border: 1px solid #7A5CFA;
    border-radius: 8px 8px 0px 0px;
  }
}