.select2-container {
  height: 56px;

  .select2-selection--single {
      height: 56px;

      .select2-selection {

          &__rendered {
              line-height: 56px;
          }
      }
  }

  &--default {
      .select2-results {
          &__option {
              &--highlighted {
                  .select2-results__option--selectable {
                      background-color: #7A5CFA;
                      color: #fff;    
                  }
              }
          }
      }
  }
}