/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss (1) ***!
  \**********************************************************************************************************************************************************/
/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Template colors */
/* Text colors */
/* Background colors */
/* Components */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: #fff;
    color: #000;
  }
  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* buttons */
.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  padding: 9px 35px;
  color: #fff;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.btn + .btn {
  margin-left: 10px;
}
.btn--primary {
  background-color: #FFA62B;
  border: 1px solid #FFA62B;
}
.btn--primary:hover, .btn--primary--outline {
  background-color: transparent;
  color: #FFA62B;
}
.btn--primary--outline:hover {
  background-color: #FFA62B;
  color: white;
}
.btn--secondary {
  background-color: #00A0C1;
  border: 1px solid #00A0C1;
}
.btn--secondary:hover, .btn--secondary--outline {
  background-color: transparent;
  color: #00A0C1;
}
.btn--secondary--outline:hover {
  background-color: #00A0C1;
  color: white;
}
.btn--rounded {
  border-radius: 37px;
}

/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* Landing styles */
* {
  letter-spacing: 0.2px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #252B42;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  text-transform: uppercase;
}

h2 {
  color: #252B42;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

h6 {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.subtitle {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Sections */
.header-main__logo {
  margin-right: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
.header-main__logo:hover {
  opacity: 0.5;
}
.header-main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__nav ul li {
  display: inline-block;
  margin-right: 21px;
}
.header-main__nav ul li:last-child {
  margin-right: 0;
}
.header-main__nav ul li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
.header-main__nav ul li a:hover {
  color: #252B42;
}
.header-main__cta {
  padding-right: 50%;
  width: 100%;
}
.header-main__cta h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #737373;
  margin: 35px 0;
  max-width: 390px;
}
.header-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
  bottom: -20px;
}
.header-main__info-item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
}
.header-main__info-item:last-child {
  background-color: #00A0C1;
}
.header-main__info-item:last-child h3 {
  color: #fff;
}
.header-main__info-item:last-child p {
  color: #fff;
}
.header-main__info-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
  margin: 10px 0;
}
.header-main__info-item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.section_1 {
  background: #fafafa;
  letter-spacing: 0.2px;
  padding: 211px 0 217px 0;
}
.section_1 .main_content .title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section_1 .main_content .subtitle {
  margin: 10px 0 50px 0;
  width: 50%;
  height: auto;
  text-align: center;
}
.section_1 .row .card_items {
  padding: 30px 32px;
  background: #FFFFFF;
  width: 25%;
  height: auto;
  margin: auto 30px;
}
.section_1 .row .card_items .title {
  margin: 10px 0;
}
.section_1 .row .card_items .subtitle5 {
  color: #737373;
  text-align: center;
  text-transform: uppercase;
}

.section_2 {
  letter-spacing: 0.2px;
  background: #fafafa;
  padding: 0 0 68px 0;
  margin: 30px auto;
}
.section_2 .main_content .subtitle {
  margin: 10px 0 45px 0;
  text-align: center;
}
.section_2 .card_item {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 25%;
}
.section_2 .card_item .subtitle5 {
  color: #252B42;
  margin: 30px 30px 15px;
}
.section_2 .card_item .subtitle {
  margin: 15px 30px 30px;
}
.section_2 .card_item__img {
  width: 100%;
}

.section_3 {
  padding: 100px 0;
}
.section_3 .main_content .title {
  width: 60%;
  height: auto;
  text-align: center;
}
.section_3 .main_content .subtitle {
  margin: 10px 0 100px 0;
  width: 48%;
  height: auto;
  text-align: center;
}
.section_3 .row {
  gap: 120px;
}
.section_3 .row .video_descr {
  width: 31%;
  height: auto;
}
.section_3 .row .video_descr .subtitle {
  margin: 10px 0 20px 0;
}
.section_3 .row .video_descr .row {
  gap: 20px;
}
.section_3 .row .video_descr__card_subtitle5 {
  margin: 30px 0 5px 0;
}

.section_4 {
  padding: 50px 0 20px 0;
  background: #fafafa;
}
.section_4 .item {
  gap: 30px;
}
.section_4 .form {
  margin-top: 70px;
  padding: 50px 30px 40px;
  background-color: #16697A;
}
.section_4 .form_title {
  width: 50%;
  color: #fff;
}
.section_4 .form_email {
  width: 50%;
  height: auto;
}
.section_4 .form_email__place {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  height: 100%;
}
.section_4 .form_email__btn {
  background: #FFA62B;
  border: 1px solid #E6E6E6;
  height: 100%;
}
.section_4 .line {
  background: #252B42;
}

.section_5 {
  padding: 80px 0 148px;
  background: #f3f3f3;
}
.section_5 .main_content .subtitle {
  margin: 10px 0 80px;
}
.section_5 .card_small {
  background: #fff;
  padding: 50px 53px 50px;
}
.section_5 .card_small__email {
  margin-top: 50px;
}
.section_5 .card_small__email-1 {
  color: #252B42;
}
.section_5 .card_small__email-2 {
  color: #252B42;
}
.section_5 .card_small__support {
  margin: 15px 0;
  color: #252B42;
}
.section_5 .card_big {
  padding: 80px 53.5px;
  background: #252B42;
}
.section_5 .card_big__email {
  margin-top: 15px;
}
.section_5 .card_big__email-1 {
  color: #fff;
}
.section_5 .card_big__email-2 {
  color: #fff;
}
.section_5 .card_big__support {
  margin: 15px 0;
  color: #fff;
}

.footer .contact_us {
  padding: 40px 0;
  gap: 411px;
}
.footer .contact_us__text-title {
  color: #252B42;
}
.footer .contact_us__text-subtitle {
  margin-top: 10px;
  color: #737373;
}
.footer .info {
  padding: 50px 0;
  background: #16697A;
  gap: 30px;
}
.footer .info_column {
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .info_column__title {
  color: #fff;
}
.footer .info_column__text {
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #fff;
}
.footer .info_column__text-link {
  color: #fff;
}
.footer .info_column__links {
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .info_column__links-item {
  gap: 10px;
}
.footer .info_column__links-item__link {
  color: #fff;
}
.footer .links {
  padding: 25px 0;
  gap: 485px;
}
.footer .links_social {
  gap: 20px;
}
