body {
    font-family: 'Montserrat', sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1046px;
    margin: 0 auto;
}

h2 {   
    color: #252B42;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
}

.subtitle {    
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

h6 {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}