body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1046px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #252B42;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
}

.subtitle {
    text-align: center;
    margin-top: 10px;
    color: #737373;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.col_md_3 {
    display: flex;
}

.card_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-main {
    .container {
        min-height: calc(100vh - 50px);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }

    background: url('../images/design/cover-hero.jpg') center/cover no-repeat;

    min-height: calc(100vh - 50px);

    &__logo {
        margin-right: 120px;

        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;

        color: $text-color;

        transition: opacity ease .3s;

        &:hover {
            opacity: .5;
        }
    }

    &__top {
        display: flex;
        height: 104px;
        align-items: center;
    }

    &__nav {

        ul {

            li {
                display: inline-block; 
                margin-right: 21px;
                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: $second-text-color;

                    transition: color ease 0.3s;

                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }

    h1 {        
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;

        text-transform: uppercase;
    }

    &__cta {
        padding-right: 50%;
        width: 100%;

        h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $second-text-color;
            margin: 35px 0;

            // margin-right: 130px;
            max-width: 390px;
        }
    }

    &__info {
        display: flex;
        // flex-wrap: wrap;
        gap: 30px;

        position: relative;
        bottom: -20px;
    }

    &__info-item {
        background-color: #fff;
        box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);

        padding: 35px 40px;

        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: $text-color;

            margin: 10px 0;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $second-text-color;
        }
    }
}


.features_10 {
    background: #FAFAFA;
    min-height: 657px;
    letter-spacing: 0.2px;
    .main_content {
        padding-top: 211px;
        .title {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .subtitle {
        }
    }
    .row {
        margin-top: 50px;
        margin-bottom: 80px;;
        .col_md_3 {

            .card_items {
                background: #FFFFFF;   
                width: 230px;
                height: 209px;
                &_title {
                    max-width: 135px;
                    color: #252B42;
                    text-align: center;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 57px;
                }
                &_subtitle {
                    color: #737373;
                    text-align: center;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
            }
        }   
    }
}

.features_7 {
    min-height: 699px;
    letter-spacing: 0.2px;
    background: #FAFAFA;
    .main_content {
        padding-top: 137px;
        .title {
        }
        .subtitle {
        }
    }
    .row {
        margin-top: 45px;
        margin-bottom: 68px;;
        .col_md_3 {
            display: flex;
            .card_items {
                background: #FFFFFF;   
                width: 241px;
                height: 342px;
                &_text_main {
                    color: #252B42;
                    text-align: center;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                }
                &_text_descr {
                    color: #737373;
                    text-align: center;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                &_img {
                    width: 230px;
                    height: 138px;
                }
                }
            }
        }
    }        
}