/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Typography */
@import 'base/typography';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* buttons */
@import 'base/buttons';

/* Vendor */

/* Components */

/* Sections */
@import 'sections/header';
@import 'sections/section1';
@import 'sections/section2';
@import 'sections/section3';
@import 'sections/section4';
@import 'sections/section5';
@import 'sections/footer';

/* Browser specific styles */
@import 'dirty/hacks';

/* Landing styles */
@import 'landing';

